
.main {
  width: 100%;
  max-width: 1400px; /* 너무 커지지 않도록 제한 */
  margin: 0 auto; /* 가운데 정렬 */
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .banner {
  width: 80%; /* 고정값 대신 유동적인 값 사용 */
  max-width: 500px;
  height: auto;
  margin: 100px 0px 60px 0px;
  aspect-ratio: 400 / 236; /* 원본 비율 유지 */
  border-radius: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  background-image: url(/src/assets/images/main.jpg);
}

.main .search {
  width: 80%;
  max-width: 1000px;
  height: 80px;
  border: 2px solid var(--text-color);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 100px;
}

.main .search_input {
  font-size: 20px;
  border: none;
  width: calc(100% - 100px); /* 부모 크기에 맞게 조정 */
  height: 70px;
  margin: 0 20px;
}

.main .search_input:focus {
  outline: none;
}

.main .search_btn {
  all: unset;
  width: 40px;
  height: 40px;
  background-image: url(/src/assets/images/search.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.main .today_procyon{
  width: 100%;
  height: auto;
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 5px;
}
.type_procyon,
.procyon_header{
  display: flex;
  justify-content: space-between;
}

.adventure_island,
.field_boss,
.chaos_gate,
.beginning_island{
  width: 300px;
  height: auto;
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 5px;
}

.procyon_header{
  font-size: 23px;
  font-weight: normal;  /* 현재 적용 안됨 */
  margin-bottom: 20px;
}

.adventure_image{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin:auto;
  background-color: var(--text-color);
}

.adventure_island .adventure_1,
.adventure_island .adventure_2,
.adventure_island .adventure_3
{
  display: flex;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--text-color);
  border-radius: 5px;
}
.adventure_island_info{
  width: 80%;
  margin-left: 5px;
}
.adventure_reward{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: normal;
}
.adventure_type{
  border: 1px solid var(--text-color);
  padding: 4px 6px;
  border-radius: 10px;
  font-size: 14px;
}

.adventure_name{
  padding: 4px 0px;
}

.procyon_image1,
.procyon_image2,
.procyon_image3{
  width: 230px;
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 13px;
  border-radius: 5px;
}

.procyon_image1{
  background-image: url(/src/assets/images/field_boss.png);
}
.procyon_image2{
  background-image: url(/src/assets/images/chaos_gate.png);
}
.procyon_image3{
  background-image: url(/src/assets/images/begining_island.png);
}